.lkp{
    margin-top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../images/jared-schwitzke-KzwuluDWwrY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}