.bg{
    margin-top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../images/jared-schwitzke-KzwuluDWwrY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}

.ni{
    text-align: center;
    color: rgb(216, 216, 216);
    padding-top: 100px;
    font-weight: 500;
    font-size: 30px;
}

.mk{
    text-align: center;
    color: rgb(216, 216, 216);
    padding-top: 50px;
}

.mm{
    text-align: center;
    color: rgb(216, 216, 216);
}

.btc{
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 2px;
    margin-left: 640px;
    margin-top: 30px;
    border: none;
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.7s ease;
    color: #35474F;
}

.btc:hover{
    background-color: rgb(70,130,180);
    color: white;
}
