.op{
    height: 320px;
    width: 230px;
    border-radius: 5px;
}

.slide{
     width: 98%;
     z-index: 1;
}

.hi{
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
    color: #35474F;
}

.nio{
    font-size: 17px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

.th{
    color: #35474F;
    margin-left:50px;
}

.tx{
    color: #35474F;
    margin-left:70px;
}

.tt{
    margin-left:30px;
}

.tty{
    color: #35474F;
    margin-left:30px;
}

