.zxcv{
    position: absolute;
    margin-top: -100px;
    padding-top: 50px;
    background: rgb(239, 239, 239);
}
.kifd{
    display: flex;
    width: 95%;
}

.onon{
    margin-left: 50px;
    width: 30%;
}

.ngt{
    padding-top: 20px;
    font-size: 14px;
}

.sryy{
    margin-left: 80px;
}

